body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #01423b;
    color: #fdfdfd;
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #fff3e6;
}
.navbar {
    background-color: #01423c00;
}

.hero-section {
  height: 55vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.nosotros{
    background-color: #fff3e6;
}

.productos{
    background-color: #fff3e6;
}

.btn-primary {
    background-color: #e2b844;
    border: none;
    color: #0f3e36;
}
.btn-primary:hover {
    background-color: #d1a937;
}
.section {
    padding: 60px 20px;
}
.card {
    background-color: #01423b;
    color: #fdfdfd;
    border: none;
}

.ig-icon {
  color: white;
  background: #01423b;
  padding: 15px;
  border-radius: 100%;
  transition: background 0.3s;
}
.ig-icon:hover {
  background: #15574a;
}

.wave-separator {
background-color: #fff3e6;
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.wave-separator2 {
background-color: #01423b;
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.wave-separator svg {
  display: block;
  width: 100%;
  height: 100px;
}

.circus-separator svg {
  display: block;
  height: auto;
  display: block;
}

.category {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.category:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card:not(.category) {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:not(.category):hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: background-color 0.3s ease;
}